.card {
  font-family: "Poppins", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin: 0 0 12px;
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.card__image:hover {
  transform: scale(1.02);
  filter: brightness(0.95);
}

.card__delete-btn {
  background-image: url(../images/delete-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 40%;
  width: 24px;
  height: 24px;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.card__delete-btn:hover {
  background-image: url(../images/delete-hover-icon.svg);
  opacity: 100%;
}

.card__like-btn {
  background-image: url(../images/likee.svg);
  border: none;
  background-color: transparent;
  opacity: 40%;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_active {
  background-image: url(../images/like-active-icon.svg);
  opacity: 100%;
}

.card__like-btn_active:hover {
  opacity: 40%;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 120%;
  color: #212121;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  max-width: 353px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 100%;
    max-width: 260px;
  }

  .card__like-btn {
    width: 20px;
    height: 20px;
  }
}
