.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 2%;
}

.card__like-btn {
  background-image: url(../images/likee.svg);
  border: none;
  background-color: transparent;
  opacity: 40%;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 120%;
  color: #212121;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 100%;
    color: #212121;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }

  .card__like-btn {
    width: 18px;
    height: 18px;
    background-size: 80%;
  }
}
