.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  font-weight: 500;
}
.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-button {
  margin-right: auto;
  margin-top: auto;
  border-radius: 90px;
  gap: 8px;
  opacity: 70%;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  cursor: pointer;
}

.profile__add-button {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #212121;
  color: #fcf5ef;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  margin-left: auto;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  cursor: pointer;
}
.profile__add-icon {
  width: 12px;
  height: 12px;
  border: 2px;
  color: #fcf5e5;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  font-family: "Poppins", Arial, sans-serif;
  color: #212121;
  line-height: 70%;
  opacity: 70%;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-bottom: 12px;
    margin-right: 0;
    height: 80px;
    width: 80px;
  }
  .profile__column {
    margin-right: 0;
    text-align: center;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
  }

  .profile__add-button {
    margin-left: 0;
    max-width: 288px;
    width: 100%;
    background-color: #212121;
    color: #fcf5ef;
    line-height: 100%;
  }
}
