.cards {
  padding-top: 20px;
}
.card__like-btn_active {
  background-image: url("../images/like-active-icon.svg");
}

.card__like-btn_active:hover {
  background-image: url("../images/like-light-hover-icon.svg");
}

.cards__list {
  list-style-type: none;
  padding: 0;j
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px 20px;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}
