.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.page__content {
  display: flex;
  flex-direction: column;
}

.page__section {
  margin: 0 auto;
  max-width: 1280px;
}
